{% extends "base.html.j2" %}

{% block title %} Trade {% endblock %}

{% block content %}
    <div class="btn-group" role="group" aria-label="Vertical radio toggle button group">
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
    <label class="btn btn-outline-danger" for="vbtn-radio1">Off</label>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
    <label class="btn btn-outline-success" for="vbtn-radio2">On</label>
    </div>

    <h1>content inside /trade (if dash app isnt standalone)</h1>
    
{% endblock content %}